body, html {
  background-color: #7ca982;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container {
  background-color: #cce6cc;
  height: 95vh;
  width: 208vh;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 2);
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  position: absolute;
  top: 1vh;
  left: 104vh;
  transform: translateX(-50%);
  color: #000;
}

.graphs-container {
  background-color: #7ca982;
  height: 74vh;
  width: 90vh;
  position: absolute;
  top: 18vh;
  left: 10vh;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 2);
}

.photo-container {
  background-color: #7ca982;
  height: 74vh;
  width: 90vh;
  position: absolute;
  top: 18vh;
  left: 114vh;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 2);
}

.air-humidity-container {
  background-color: #f1f7ed;
  height: 31vh;
  width: 39vh;
  position: absolute;
  top: 4vh;
  left: 4vh;
  border-radius: 50px;
}

.air-humidity-title {
  font-size: 0.5rem;
  font-weight: bold;
  position: absolute;
  top: 1vh;
  left: 13vh;
  transform: translateX(-50%);
  color: #000;
}

.ground-humidity-container {
  background-color: #f1f7ed;
  height: 31vh;
  width: 39vh;
  position: absolute;
  top: 4vh;
  left: 47vh;
  border-radius: 50px;
}

.ground-humidity-title {
  font-size: 0.5rem;
  font-weight: bold;
  position: absolute;
  top: 1vh;
  left: 13vh;
  transform: translateX(-50%);
  color: #000;
}

.temperature-container {
  background-color: #f1f7ed;
  height: 31vh;
  width: 39vh;
  position: absolute;
  top: 38vh;
  left: 4vh;
  border-radius: 50px;
}

.temperature-title {
  font-size: 0.5rem;
  font-weight: bold;
  position: absolute;
  top: 1vh;
  left: 13vh;
  transform: translateX(-50%);
  color: #000;
}

.real-time-container {
  background-color: #f1f7ed;
  height: 31vh;
  width: 39vh;
  position: absolute;
  top: 38vh;
  left: 47vh;
  border-radius: 50px;
}

.real-time-title {
  font-size: 0.5rem;
  font-weight: bold;
  position: absolute;
  top: 1vh;
  left: 13vh;
  transform: translateX(-50%);
  color: #000;
}